*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.skyblue {
  background: hsl(203, 61%, 90%);
}
.salmon {
  background: hsl(4, 61%, 86%);
}
.yellow {
  background: hsl(42, 80%, 90%);
}
.violet {
  background: hsl(277, 71%, 89%);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(87, 60%, 85%);
  overflow-x: hidden;
}

.accordion {
  width: 400px;
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion .content {
  padding: 0.3rem;
  border-radius: 1rem;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.3rem;
}

header :is(h3, .icon) {
  font-weight: 300;
  font-size: 1rem;
}

header .icon {
  font-size: 1.5rem;
}

.content .description {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 0.5rem;
  height: 0px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
