@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100svh;
  background: linear-gradient(to left, #4bc2b8, #075544);
  font-family: Poppins, sans-serif;
  line-height: 1.5;
}

.chatbot {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 350px;
  background: #fff;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: 0.5;
  pointer-events: none;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.show-chatbot .chatbot {
  scale: 1;
  pointer-events: auto;
  opacity: 1;
}

.chatbot .chatbot-header {
  font-size: 0.8rem;
  width: 100%;
  background: #000;
  color: #ddd;
  text-align: center;
  padding: 12px;
}

.chatbot .chat-container {
  padding: 0 12px;
  height: calc(85svh - 60px);
  overflow-y: auto;
  background: #d3ffdd;
}

.messages {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.message {
  background: #fff;
  max-width: 60ch;
  word-wrap: break-word;
  margin: 12px 0;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message.incoming i.fa-robot {
  padding: 4px 3px;
  background: #000;
  color: #fff;
  margin-right: 6px;
  border-radius: 50%;
}

.message.incoming {
  align-self: start;
  border-radius: 12px 12px 12px 0px;
}

.message.outgoing {
  background: #00916e;
  color: #fff;
  align-self: end;
  border-radius: 12px 12px 0 12px;
}

.input-feild {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #bdbdbd;
  width: 100%;
}

.input-feild textarea {
  width: 90%;
  height: 60px;
  resize: none;
  border: none;
  padding: 12px;
  font: inherit;
  font-size: 0.75rem;
  outline: none;
}

.input-feild .send-btn {
  padding: 6px;
  visibility: hidden;
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-btn-mobile {
  position: absolute;
  padding: 12px;
  top: 4px;
  font-size: 1rem;
  right: 0;
  background: transparent;
  color: #fff;
  display: none;
  border: none;
  cursor: pointer;
}

.toggleChatbox {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  background: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleChatbox i {
  position: absolute;
}

.input-feild textarea:valid ~ .send-btn {
  visibility: visible;
}
.show-chatbot .toggleChatbox i:first-child,
.toggleChatbox i:last-child {
  opacity: 0;
}

.show-chatbot .toggleChatbox i:last-child {
  opacity: 1;
}

span.prosessing-text {
  animation: text-animation 2s linear infinite;
}

@keyframes text-animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  98% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 490px) {
  .chatbot {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .chatbot .chat-container {
    height: 90%;
  }
  .close-btn-mobile {
    display: block;
  }
}
