*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #272727, #dadada);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

*::selection {
  background: #000;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline;
  text-shadow: #ffffff 1px 2px 3px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  height: 300px;
}

button {
  font-size: 2rem;
}

.tooltip {
  position: absolute;
  transform: translate(-80% -50%);
  font-size: 12px;
  text-align: center;
  background: rgb(34, 111, 228);
  padding: 4px;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  z-index: 999;
}
.tooltip::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(34, 111, 228);
  color: wheat;
  bottom: -20%;
  transform: rotate(45deg);
  right: 40%;
  z-index: -1;
  transform: translate(-50% -50%);
}
