@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-color: #64484c; /* Main background color */
  --secondary-color: #ffffff; /* Secondary background color */
  --accent-color: #fa435b; /* Accent color */
  --text-color: #2d3748; /* Text color */
  --shadow-color: rgba(0, 0, 0, 0.2); /* Shadow color */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

::selection {
  background: var(--accent-color);
  color: #fff;
}

body {
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
  padding-block: 2rem;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins, sans-serif;
  background: rgb(238, 174, 202);
  background: rgb(235, 118, 169);
  background: radial-gradient(
    circle,
    rgba(235, 118, 169, 1) 29%,
    rgba(78, 127, 185, 1) 96%
  );
}

.flex {
  display: flex;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  max-width: 399px;
  margin-inline: auto;
  padding-inline: 2rem;
  border-radius: 12px;
  background: var(--secondary-color);
  backdrop-filter: blur(12px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.top-bar {
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.top-bar i {
  cursor: pointer;
}

.music-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.music-main .album-art {
  width: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.music-info {
  text-align: center;
  padding: 1rem 0;
}

.music-info .track-name {
  color: var(--text-color);
  width: max-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  font-size: 1rem;
}

.marquee-text {
  animation: marquee 10s linear infinite;
}

.music-info .track-author {
  color: var(--text-color);
  font-size: 0.9em;
  font-weight: 300;
}

.progress {
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  height: 6px;
  background: rgb(185, 185, 185);
}

.progress .progress-bar {
  position: absolute;
  border-radius: inherit;
  width: 0%;
  inset: 0;
  background: var(--accent-color);
}

.progress-bar::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: calc(100% - 10px);
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--accent-color);
  transition: 0.3s ease;
}

.duration {
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.music-controls {
  padding-block: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}

.music-controls button i {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px;
  background: var(--secondary-color);
  color: var(--text-color);
  transition: 0.3s all;
}

.music-controls .main-controls {
  display: flex;
  gap: 20px;
}
.music-controls .main-controls i:hover:not(.paused) {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 18px;
  scale: 1.1;
  z-index: 999;
}

#play-pause-btn i {
  box-shadow: 0 0 0 5px var(--accent-color);
  position: relative;
}

#play-pause-btn i.paused::after {
  content: "";
  position: absolute;
  inset: -10px;
  z-index: -1;
  background: linear-gradient(to right, #f5a19e 0%, #f5c4c2 100%);
  border-radius: inherit;
  animation: pulse 2s infinite ease-in-out;
  opacity: 0;
  filter: blur(2px);
}

.songs-list::-webkit-scrollbar {
  display: none;
}

.songs-list {
  position: absolute;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  left: 0;
  height: 0px;
  background: var(--secondary-color);
  width: 100%;
  transition: 0.3s ease-out;
  overflow: auto;
}

.songs-list.open {
  height: 200px;
}

.songs-list .list-header {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--accent-color);
  color: #ffffff;
  height: 40px;
  width: 100%;
  padding-inline: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.songs-list .list-header span {
  display: flex;
  gap: 8px;
}

.list-header button i {
  border: none;
  padding-top: 6px;
  cursor: pointer;
  background: transparent;
  color: #ffff;
}

.songs-list .song-item {
  font-size: 14px;
  padding-inline: 10px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
}

.songs-list .song-item:hover:not(.active) {
  background: #f5c4c2;
}

.song-item.active {
  color: var(--accent-color);
  font-weight: 600;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
